@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background: hsl(0, 0%, 0%);
  --activeTab: hsl(0, 0%, 35%);
  --navBar: hsl(0, 0%, 15%);
  --card: hsl(0, 0%, 10%);
  --accent: hsl(220, 60%, 40%);
}

html {
  font-family: "Helvetica";
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  margin: 0 auto;

  background: radial-gradient(
    circle at center,
    var(--accent) 0%,
    var(--card) 35%,
    var(--background) 100%
  );
}

h1 {
  color: white;
  margin: 0;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  z-index: 99;
}

.nav-links {
  display: flex;
  gap: 0.5rem;
  padding: clamp(0.5rem, 0.5vw, 1rem);
  border-radius: clamp(1rem, 1vw, 2rem);
  background-color: var(--navBar);
  border: 1px solid var(--activeTab);
}

.nav-links > a {
  text-decoration: none;
  color: white;
  border-radius: clamp(0.5rem, 0.5vw, 1rem);
  font-size: clamp(1rem, 1vw, 2rem);
  padding: clamp(0.5rem, 0.5vw, 1rem);
}

.nav-links > a:hover:not(.active) {
  background-color: hsl(0, 0%, 10%);
  transition: 0.5s;
}

.active {
  background-color: var(--activeTab);
  font-weight: bold;
}

.card.title {
  background-color: var(--accent);
}

.card {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--card);
  border: 1px solid transparent;
  box-shadow: 0px 2px 5px 0 black;
}

#profile-pic {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 3px solid hsl(0, 0%, 30%);
}

.icon {
  font-size: 3rem;
}

nav {
  padding: 2rem;
}

p {
  color: hsl(0, 0%, 70%);
  letter-spacing: 0.05rem;
  margin: 0;
  line-height: 1.2;
}

strong {
  color: hsl(0, 0%, 100%);
}

p > a {
  text-decoration: none;
  color: white;
  border-bottom: 2px solid hsl(0, 0%, 30%);
  font-weight: bold;
  cursor: pointer;
}

p,
p > a {
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.links {
  border: 2px solid hsl(0, 0%, 40%);
  background-color: hsl(0, 0%, 20%);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.links.links-hover {
  border: 2px solid var(--accent);
  transition: 0.5s;
}

.techName {
  border: 2px solid var(--accent);
  background-color: var(--accent);
  color: white;
  border-radius: 0.5rem;
  padding: 0.3rem;
  position: absolute;
  top: 3.5rem;
  z-index: 99;
}

@media only screen and (min-width: 1024px) {
  body {
    display: grid;
    grid-template-areas:
      "navbar navbar navbar"
      "intro intro education"
      "role profile education"
      "technologies profile contact"
      "technologies footer contact";
    margin: 2rem;
    align-items: normal;
  }

  .card {
    width: auto;
  }

  header {
    grid-area: navbar;
  }

  .profile {
    grid-area: profile;
  }

  .intro {
    grid-area: intro;
  }

  .title {
    grid-area: role;
  }

  .technologies {
    grid-area: technologies;
    justify-content: flex-start;
  }

  .education {
    grid-area: education;
    justify-content: flex-start;
  }

  .contact {
    grid-area: contact;
    justify-content: flex-start;
  }

  footer {
    grid-area: footer;
  }

  .card:hover:not(.card.title) {
    border: 1px solid var(--accent);
    transition: 0.3s;
  }

  #profile-pic.profile-hover {
    border: 3px solid var(--accent);
    transition: 1s;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    width: 85%;
    margin: 2rem auto;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    width: 70%;
    animation: breathe 1.5s ease-in-out 0s alternate infinite;
  }
}

@media only screen and (min-width: 1600px) {
  body {
    width: 65%;
  }
}

@keyframes breathe {
  0% {
    background: radial-gradient(
      circle at center,
      var(--accent) 0%,
      var(--card) 35%,
      var(--background) 100%
    );
  }

  25% {
    background: radial-gradient(
      circle at center,
      hsl(220, 60%, 35%) 0%,
      var(--card) 35%,
      var(--background) 100%
    );
  }

  50% {
    background: radial-gradient(
      circle at center,
      hsl(220, 60%, 30%) 0%,
      var(--card) 35%,
      var(--background) 100%
    );
  }

  75% {
    background: radial-gradient(
      circle at center,
      hsl(220, 60%, 35%) 0%,
      var(--card) 35%,
      var(--background) 100%
    );
  }

  100% {
    background: radial-gradient(
      circle at center,
      hsl(220, 60%, 40%) 0%,
      var(--card) 35%,
      var(--background) 100%
    );
  }
}
