:root {
  --background: hsl(0, 0%, 0%);
  --activeTab: hsl(0, 0%, 35%);
  --navBar: hsl(0, 0%, 15%);
  --card: hsl(0, 0%, 10%);
  --accent: hsl(220, 60%, 40%);
}

body {
  background: radial-gradient(circle at top, var(--accent) 0%, var(--card) 30%, var(--background) 100%);
}

.toTop {
  color: var(--activeTab);
  position: fixed;
  bottom: 5vw;
  right: 5vw;
  width: clamp(2rem, 2vw, 10rem);
  height: clamp(2rem, 2vw, 10rem);
  transition: 0.3s;
}

.hidden {
  opacity: 0;
}

.toTop:hover {
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  body {
    display: flex;
  }

  div.card {
    display: grid;
    grid-template-areas:
      "title title title title"
      "preview preview preview info"
      "preview preview preview tech"
      "preview preview preview links";
    gap: 1rem;
  }

  .card h1 {
    grid-area: title;
  }

  .card > .img-container {
    grid-area: preview;
    margin: 0;
  }

  .info {
    grid-area: info;
    display: flex;
    flex-direction: column;
  }

  .technologies {
    grid-area: tech;
  }

  .live-and-repo {
    grid-area: links;
  }
}
