---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import CardLayout from "../layouts/CardLayout.astro";

import BattleShipIcon from "../icons/BattleshipIcon.astro";

import "../styles/global.css";

const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "Projects";
---

<BaseLayout pageTitle={pageTitle}>
  <nav slot="navbar">
    <div class="nav-links">
      <a href="/">Home </a>
      <a href=" projects" class="active">Projects</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>
  <CardLayout title="Battleship">
    <BattleShipIcon class="icon" style="color: white" slot="icon" />
  </CardLayout>
</BaseLayout>
