---
import AstroIcon from "../icons/AstroIcon.astro";
---

<style>
  .card {
    flex-direction: row;
    gap: 0.3rem;
  }
</style>

<footer class="card">
  <p>Crafted with <span>Astro</span></p>
  <AstroIcon />
  <p>by Elisha.</p>
</footer>
