---
const frontmatter = Astro.props;
---

<style>
  nav {
    padding: 2rem;
  }
</style>

<header>
  <nav>
    <div class="nav-links">
      <a href="/">Home </a>
      <a href=" projects">Projects</a>
      <a href="/contact">Contact</a>
    </div>
  </nav>
</header>
