---
import ExternalLink from "../icons/ExternalLink.astro";
import GitHubIcon from "../icons/GitHubIcon.astro";

const fronmatter = Astro.props;
---

<style>
  .link-icon {
    font-size: 2rem;
  }
</style>

<a href={fronmatter.liveLink} class="links" target="_blank">
  <ExternalLink class="link-icon" />
</a>
<a href={fronmatter.repoLink} class="links" target="_blank">
  <GitHubIcon class="link-icon" />
</a>

<script>
  document.addEventListener("astro:page-load", () => {
    const links = document.getElementsByTagName("a");

    Array.from(links).forEach((link) => {
      link.addEventListener("mouseenter", () => {
        link.classList.add("links-hover");
      });

      link.addEventListener("mouseleave", () => {
        link.classList.remove("links-hover");
      });
    });
  });
</script>
