---
import { Image } from "astro:assets";

const { src, alt, gif, ...attrs } = Astro.props;
---

<style>
  .project {
    width: 100%;
    margin: 1rem 0;
    border-radius: 0.5rem;
    height: auto;
  }

  .hide {
    display: none;
  }

  .show {
    display: block;
  }
</style>

<div class="img-container">
  <Image src={src} alt={alt} {...attrs} class="project" />
  {
    gif && (
      <video autoplay loop muted class="project hide">
        <source src={gif} type="video/mp4" />
      </video>
    )
  }
</div>

<script>
  document.addEventListener("astro:page-load", () => {
    // Detect hover on project image
    const projectImgs = Array.from(document.getElementsByClassName("img-container"));

    // Filter the ones with GIFs.
    const projectImgsWithGifs = projectImgs.filter((img) => img.children.length > 1);

    // Synchronise the showing and hiding of imgs / gifs.
    projectImgsWithGifs.forEach((img) => {
      const imageOnly = img.firstElementChild;
      const gifOnly = img.lastElementChild;

      img.addEventListener("mouseenter", () => {
        imageOnly.classList.toggle("hide");
        gifOnly.classList.toggle("hide");
      });

      img.addEventListener("mouseleave", () => {
        imageOnly.classList.toggle("hide");
        gifOnly.classList.toggle("hide");

        gifOnly.currentTime = 0;
      });
    });
  });
</script>
