---
import JavascriptIcon from "../icons/JavascriptIcon.astro";
import HtmlIcon from "../icons/HtmlIcon.astro";
import CssIcon from "../icons/CSSIcon.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import NodeJs from "../icons/NodeJS.astro";
import JestIcon from "../icons/JestIcon.astro";
import WebpackIcon from "../icons/WebpackIcon.astro";
import GitIcon from "../icons/GitIcon.astro";
---

<style>
  .tools {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .icon-div {
    position: relative;
  }
</style>

<div class="tools">
  <div class="icon-div" id="JavaScript">
    <JavascriptIcon class="icon" />
  </div>
  <div class="icon-div" id="HTML"><HtmlIcon class="icon" /></div>
  <div class="icon-div" id="CSS"><CssIcon class="icon" /></div>
  <div class="icon-div" id="Astro"><AstroIcon class="icon" /></div>
  <div class="icon-div" id="NodeJS"><NodeJs class="icon" /></div>
  <div class="icon-div" id="Jest"><JestIcon class="icon" /></div>
  <div class="icon-div" id="Webpack"><WebpackIcon class="icon" /></div>
  <div class="icon-div" id="Git"><GitIcon class="icon" /></div>
</div>

<script>
  const techIcons = document.getElementsByClassName("icon-div");
  const techName = document.createElement("p");
  techName.className = "techName";

  Array.from(techIcons).forEach((icon) => {
    icon.addEventListener("mouseenter", () => {
      techName.textContent = icon.id;
      icon.insertAdjacentElement("afterbegin", techName);
    });

    icon.addEventListener("mouseleave", () => {
      techName.remove();
    });
  });
</script>
