---
import JavascriptIcon from "../icons/JavascriptIcon.astro";
import HtmlIcon from "../icons/HtmlIcon.astro";
import CssIcon from "../icons/CSSIcon.astro";
import AstroIcon from "../icons/AstroIcon.astro";
import NodeJs from "../icons/NodeJS.astro";
import JestIcon from "../icons/JestIcon.astro";
---

<style>
  .icon {
    font-size: 3rem;
  }

  .tools {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
</style>

<div class="tools">
  <JavascriptIcon class="icon" />
  <HtmlIcon class="icon" />
  <CssIcon class="icon" />
  <AstroIcon class="icon" />
  <NodeJs class="icon" />
  <JestIcon class="icon" />
</div>
